doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="../css/main.css" rel="stylesheet" type="text/css")
        title Filip Szettel Portfolio

    body
        header
            .menu-btn
                span.menu-btn_burger

            nav.nav
                ul.menu-nav
                    li.menu-nav_item
                        a.menu-nav_link(href="index.html") About Me
                    li.menu-nav_item
                        a.menu-nav_link(href="index.html") My Projects
                    li.menu-nav_item
                        a.menu-nav_link(href="index.html") Contact Me

        main
            section.home
                h2 Hi! My name is
                h1.home_name Mike 
                    span.home_name-last Smith
                h2 Web Developer, Designer & Programmer
                .social-icons
                    a(href="#!")
                        i.fab.fa-twitter.fa-2x 
                    a(href="#!")
                        i.fab.fa-facebook.fa-2x 
                    a(href="#!")
                        i.fab.fa-instagram.fa-2x 
                    a(href="#!")
                        i.fab.fa-github.fa-2x 

        footer &copy; Copyright 2019

        script(src="../js/main.js")
        script(src="https://kit.fontawesome.com/745e126a3b.js" crossorigin="anonymous")
